In [53]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


# import from custom package
from auxFuns.load_data import *

In [54]:
make_it_categorical

In [71]:
# os.chdir('..')

# 1. Loading the data and summary function

In [70]:
datasets_path = os.getcwd() + '/datasets/raw'

In [72]:
rsv_predictors_phase1_df = pd.read_csv(datasets_path + '/rsv_predictors_df_phase1_v3.csv')
rsv_predictors_phase1_df = make_it_categorical(rsv_predictors_phase1_df)

In [73]:
summary_function_rsv(rsv_predictors_phase1_df)

                CCI          sine        cosine    n_symptoms  n_encounters  \
count  86659.000000  86659.000000  8.665900e+04  86659.000000  86659.000000
mean       2.360297      0.305377  3.863281e-01      2.145963      4.697642
std        2.432005      0.639752  5.901029e-01      1.702432      6.967793
min        0.000000     -1.000000 -1.000000e+00      0.000000      1.000000
25%        0.000000     -0.239316 -1.608123e-16      1.000000      1.000000
50%        2.000000      0.464723  5.680647e-01      2.000000      2.000000
75%        4.000000      0.885456  8.854560e-01      3.000000      5.000000
max       14.000000      1.000000  1.000000e+00     13.000000     79.000000

       prev_positive_rsv  tendency_to_positivity  previous_test_daydiff  \
count       86659.000000            86659.000000           8.665900e+04
mean            0.061159                0.030626           3.788330e+05
std             0.394196                0.127717           4.776361e+06
min             0.000000                0.000000           0.000000e+00
25%             0.000000                0.000000           2.010000e+02
50%             0.000000                0.000000           1.095000e+03
75%             0.000000                0.000000           1.095000e+03
max            17.000000                1.000000           2.045088e+08

       n_immunodeficiencies
count          86659.000000
mean               0.785181
std                2.163228
min                0.000000
25%                0.000000
50%                0.000000
75%                0.000000
max               30.000000


Column: sex
sex
F          49484
M          37152
Unknown       23
Name: count, dtype: int64


Column: race
race
White              50945
Black              23938
Unknown             9550
Asian               1580
Native American      457
Pacific              189
Name: count, dtype: int64


Column: marital_status
marital_status
Unknown    40200
Single     30778
Married    15681
Name: count, dtype: int64


Column: patient_regional_location
patient_regional_location
Midwest      29432
Northeast    25270
South        16727
West         15229
Unknown          1
Name: count, dtype: int64


Column: age_group
age_group
51-55    13508
18-25    13322
46-50    13176
31-35    11282
36-40    11063
41-45    10775
26-30    10390
56-60     3143
Name: count, dtype: int64


Column: Conjuctivitis
Conjuctivitis
0    86158
1      501
Name: count, dtype: int64


Column: Acute_upper_respiratory_infection
Acute_upper_respiratory_infection
0    67922
1    18737
Name: count, dtype: int64


Column: Influenza
Influenza
0    74310
1    12349
Name: count, dtype: int64


Column: Pneumonia
Pneumonia
0    68000
1    18659
Name: count, dtype: int64


Column: Bronchitis
Bronchitis
0    81555
1     5104
Name: count, dtype: int64


Column: Acute_lower_respiratory_infection_other
Acute_lower_respiratory_infection_other
0    86261
1      398
Name: count, dtype: int64


Column: Rhinitis
Rhinitis
0    84847
1     1812
Name: count, dtype: int64


Column: Other_COPD
Other_COPD
0    79921
1     6738
Name: count, dtype: int64


Column: Asthma
Asthma
0    72579
1    14080
Name: count, dtype: int64


Column: Symptoms_and_signs__circulatory_and_respiratory
Symptoms_and_signs__circulatory_and_respiratory
0    43693
1    42966
Name: count, dtype: int64


Column: Symptoms_and_signs__digestive_system_and_abdomen
Symptoms_and_signs__digestive_system_and_abdomen
0    70483
1    16176
Name: count, dtype: int64


Column: Symptoms_and_signs__skin_and_subcutaneous_tissue
Symptoms_and_signs__skin_and_subcutaneous_tissue
0    81391
1     5268
Name: count, dtype: int64


Column: Symptoms_and_signs__cognition_perception_emotional_state_and_behaviour
Symptoms_and_signs__cognition_perception_emotional_state_and_behaviour
0    82296
1     4363
Name: count, dtype: int64


Column: General_symptoms_and_signs
General_symptoms_and_signs
0    49151
1    37508
Name: count, dtype: int64


Column: COVID19_related
COVID19_related
0    85351
1     1308
Name: count, dtype: int64


Column: any_symptom
any_symptom
1    74656
0    12003
Name: count, dtype: int64


Column: Acute_myocardial_infarction
Acute_myocardial_infarction
0    80652
1     6007
Name: count, dtype: int64


Column: Hystory_myocardial_infarction
Hystory_myocardial_infarction
0    82642
1     4017
Name: count, dtype: int64


Column: Congestive_heart_failure
Congestive_heart_failure
0    70859
1    15800
Name: count, dtype: int64


Column: Peripheral_Vascular
Peripheral_Vascular
0    76008
1    10651
Name: count, dtype: int64


Column: CVD
CVD
0    76958
1     9701
Name: count, dtype: int64


Column: COPD
COPD
0    46454
1    40205
Name: count, dtype: int64


Column: Dementia
Dementia
0    85986
1      673
Name: count, dtype: int64


Column: Paralysis
Paralysis
0    81545
1     5114
Name: count, dtype: int64


Column: Diabetes
Diabetes
0    65430
1    21229
Name: count, dtype: int64


Column: Diabetes_complications
Diabetes_complications
0    74253
1    12406
Name: count, dtype: int64


Column: Renal_disease
Renal_disease
0    69859
1    16800
Name: count, dtype: int64


Column: mild_liver_disease
mild_liver_disease
0    69980
1    16679
Name: count, dtype: int64


Column: moderate_liver_disease
moderate_liver_disease
0    82590
1     4069
Name: count, dtype: int64


Column: Peptic_Ulcer_Disease
Peptic_Ulcer_Disease
0    83670
1     2989
Name: count, dtype: int64


Column: rheuma_disease
rheuma_disease
0    80833
1     5826
Name: count, dtype: int64


Column: AIDS
AIDS
0    81215
1     5444
Name: count, dtype: int64


Column: Asthma_chronic
Asthma_chronic
0    59728
1    26931
Name: count, dtype: int64


Column: calendar_year
calendar_year
2019    20308
2018    19752
2017    13799
2016     9418
2020     4886
2015     4853
2021     4412
2014     3324
2022     2449
2013     1870
2012      966
2011      500
2010       85
2009       21
2008        9
2007        4
2004        2
2000        1
Name: count, dtype: int64


Column: healthcare_seeking
healthcare_seeking
0    50848
1    35811
Name: count, dtype: int64


Column: influenza_vaccine
influenza_vaccine
0    76388
1    10271
Name: count, dtype: int64


Column: key_comorbidities
key_comorbidities
0    46224
1    26585
2    13850
Name: count, dtype: int64


Column: n_tests_that_day
n_tests_that_day
1    85457
2     1202
Name: count, dtype: int64


Column: any_immunodeficiency
any_immunodeficiency
0    70140
1    16519
Name: count, dtype: int64


Column: tumor_indicator
tumor_indicator
0    80215
1     6444
Name: count, dtype: int64


Column: tumor_last_year
tumor_last_year
0    83461
1     3198
Name: count, dtype: int64


Column: is_metastatic
is_metastatic
0    85829
1      830
Name: count, dtype: int64


Column: RSV_test_result
RSV_test_result
Negative    84005
Positive     2654
Name: count, dtype: int64

# 2. Plots of positivity and evaluation of correlations

# 3. Evaluate positivity within a short period of time
- Tests in the same day and same patient
- Tests in the same week (and same patient)

In [74]:
rsv_predictors_phase1_df['index_date'] = pd.to_datetime(rsv_predictors_phase1_df['index_date']).dt.date

In [103]:
# I want to see (same Day)
# a) how many tests are taken at the same day and same patient 
# b) how many have i) positive-positive, ii) negative-negative, iii) negative-positive

# Take only those records having more than one test that day
more_one_rsv_test_df = (
    rsv_predictors_phase1_df.loc[rsv_predictors_phase1_df['n_tests_that_day'] == 2, 
                                 ['patient_id', 'index_date', 'RSV_test_result']]
                                 )

more_one_rsv_test_df.shape # 1202 records, i.e. 601 test records the same day

(more_one_rsv_test_df['RSV_test_result'] == 'Positive').sum() # 601
(more_one_rsv_test_df['RSV_test_result'] == 'Negative').sum() # 601

# It seems that, every time a test is repeated, there exists one negative and positive test

601

In [106]:
more_one_rsv_test_df.sort_values(by = 'patient_id')

                                     patient_id  index_date RSV_test_result
85528  006f8d2dd2a3b7e3d98761402281bf358c1e255e  2016-02-22        Positive
85527  006f8d2dd2a3b7e3d98761402281bf358c1e255e  2016-02-22        Negative
50844  007ddd177a2d6eb4dff4eec31fb9262e8e3b6774  2020-02-25        Negative
50840  007ddd177a2d6eb4dff4eec31fb9262e8e3b6774  2020-02-25        Positive
14235  00d27ca6dc2904cc64efe2e8031216fd0cf59122  2017-05-14        Positive
...                                         ...         ...             ...
72246  feb29fbbd8877a4a4e0feaa2f7bb3f893ce28c5d  2019-03-18        Positive
71595  ff636c272046e8908e6cb9290423701bab9bd877  2015-01-16        Negative
71594  ff636c272046e8908e6cb9290423701bab9bd877  2015-01-16        Positive
60486  ffe576cf11eb5b4cc2b406cdde4f541d85a17dfa  2013-02-11        Positive
60485  ffe576cf11eb5b4cc2b406cdde4f541d85a17dfa  2013-02-11        Negative

[1202 rows x 3 columns]